<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <title>Wannapop</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Wannapop</h1>
    <nav>
      
      {% if current_user.is_authenticated %}
        <!-- Botó de logout (blueprint auth) -->
        <form method="POST" action="{{ url_for('auth.logout') }}" style="display:inline;">
          <button type="submit" class="action">🚪 Logout</button>
        </form>
      {% else %}
        <!-- Enllaços de login i registre (blueprint auth) -->
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Registre</a>
      {% endif %}
    </nav>
  </header>

  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>

  <footer>
    <p>Wannapop © 2025 - by aviTalDev </p>
  </footer>
</body>
</html>
