{% extends "layout/_base.html" %}
{% block content %}
<div class="container">
  <div class="card" style="text-align: center;">
    <h1>Eliminar Producte</h1>
    <p>Estàs segur que vols eliminar el producte <strong>{{ product.title }}</strong>?</p>

    <form method="POST" class="actions">
      <button type="submit" class="action danger">Confirmar eliminació</button>
      <a class="action" href="{{ url_for('products.list_products') }}">Cancel·lar</a>
    </form>
  </div>
</div>
{% endblock %}
