{% extends "layout/_base.html" %}
{% block content %}
<div class="container">
  <div class="card">
    <h2>Detalls del Producte</h2>

    <img src="{{ url_for('static', filename='uploads/' ~ (product.photo or 'product_default.png')) }}" 
         alt="Foto de {{ product.title }}">

    <p><strong>Títol:</strong> {{ product.title }}</p>
    <p><strong>Descripció:</strong> {{ product.description }}</p>
    <p><strong>Preu:</strong> {{ product.price }} €</p>
    <p><strong>Categoria:</strong> {{ product.category.name }}</p>
    <p><strong>Venedor:</strong> {{ product.seller.name }}</p>

    <div class="actions">
      <a class="action" href="{{ url_for('main.update_product', id=product.id) }}">📝 Editar</a>
      <a class="action" href="{{ url_for('main.delete_product', id=product.id) }}" style="background-color: var(--danger)">🗑️ Eliminar</a>
      <a class="action" href="{{ url_for('main.list_products') }}">⬅️ Tornar</a>
    </div>
  </div>
</div>
{% endblock %}
