{% extends "layout/_base.html" %}
{% block content %}
<h1>Crear Usuari</h1>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>{{ form.name.label }} {{ form.name }}</p>
    <p>{{ form.email.label }} {{ form.email }}</p>
    <p>{{ form.password.label }} {{ form.password }}</p>
    <p>{{ form.avatar.label }} {{ form.avatar }}</p>
    <p>{{ form.role_id.label }} {{ form.role_id }}</p>  <!-- select de rol -->
    <p>{{ form.submit }}</p>
</form>

<div class="actions">
    <a class="action" href="{{ url_for('main.list_users') }}">⬅️ Tornar</a>
</div>
{% endblock %}
