{% extends "layout/_base.html" %}
{% block content %}
<div class="container">
  <h2>Llista d'Usuaris</h2>

  <!-- Missatges flash -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="grid">
    {% for user in users %}
    <div class="card">
      <img src="{{ url_for('static', filename='uploads/' ~ (user.avatar or 'user_default.png')) }}"
        alt="Avatar de {{ user.name }}">
      <h3>{{ user.name }}</h3>
      <p>{{ user.email }}</p>
      <p><strong>Rol:</strong> {{ user.role.name if user.role else "Sense rol" }}</p>
      <div class="actions">
        <a class="action" href="{{ url_for('users.read_user', id=user.id) }}">👁️ Veure</a>
        <a class="action" href="{{ url_for('users.update_user', id=user.id) }}">📝 Editar</a>
        <a class="action" href="{{ url_for('users.delete_user', id=user.id) }}"
          style="background-color: var(--danger)">🗑️ Eliminar</a>
      </div>

    </div>
    {% endfor %}
  </div>
  <div class="actions">
    <a class="action" href="{{ url_for('main.index') }}">⬅️ Tornar a la pàgina principal</a>
  </div>
</div>
{% endblock %}