{% extends "layout/_base.html" %}
{% block content %}
<div class="container">
  <h2>Llista d'Usuaris</h2>
  <div class="actions">
    <a class="action" href="{{ url_for('main.create_user') }}">➕ Crear Usuari</a>
  </div>

  <div class="grid">
    {% for user in users %}
      <div class="card">
        <img src="{{ url_for('static', filename='uploads/' ~ (user.avatar or 'user_default.png')) }}" alt="Avatar de {{ user.name }}">
        <h3>{{ user.name }}</h3>
        <p>{{ user.email }}</p>
        <p><strong>Rol:</strong> {{ user.role.name }}</p> <!-- 👈 mostrar el rol -->
        <div class="actions">
          <a class="action" href="{{ url_for('main.read_user', id=user.id) }}">👁️ Veure</a>
          <a class="action" href="{{ url_for('main.update_user', id=user.id) }}">📝 Editar</a>
          <a class="action" href="{{ url_for('main.delete_user', id=user.id) }}" style="background-color: var(--danger)">🗑️ Eliminar</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
