{% extends "layout/_base.html" %}
{% block content %}
<div class="container">
  <div class="card">
    <h2>Detalls Usuari</h2>
    
    <img src="{{ url_for('static', filename='uploads/' ~ (user.avatar or 'user_default.png')) }}" 
         alt="Avatar de {{ user.name }}">
    
    <p><strong>Nom:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Rol:</strong> {{ user.role.name }}</p> <!-- 👈 mostrar rol -->

    <div class="actions">
      <a class="action" href="{{ url_for('main.update_user', id=user.id) }}">📝 Editar</a>
      <a class="action" href="{{ url_for('main.delete_user', id=user.id) }}" style="background-color: var(--danger)">🗑️ Eliminar</a>
      <a class="action" href="{{ url_for('main.list_users') }}">⬅️ Tornar</a>
    </div>
  </div>
</div>
{% endblock %}
