{% extends "layout/_base.html" %}
{% block content %}
<div class="container">
  <div class="card">
    <h2>Detalls Usuari</h2>
    <img src="{{ url_for('static', filename='uploads/' ~ (user.avatar or 'user_default.png')) }}" alt="Avatar de {{ user.name }}">
    <p><strong>Nom:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <a class="action" href="{{ url_for('users.update_user', user_id=user.id) }}">📝 Editar</a>
    <a class="action" href="{{ url_for('users.delete_user', user_id=user.id) }}" style="background-color: var(--danger)">🗑️ Eliminar</a>
  </div>
</div>
{% endblock %}
